# dependencies
/node_modules
/packages/*/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

/packages/*/lib
# misc
.DS_Store
.idea
/.vscode
# umi

/packages/mock/test/grpc-mock/
/packages/mock/test/grpc/*.json
/packages/mock/test/genHttpMock/
/packages/mock/test/openapi/openapiv3.json
